<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-cards season="1" episodes="288" [extra]="true"></app-cards>
  <app-cards season="2" episodes="53" [extra]="true"></app-cards>
  <app-cards season="3" episodes="16" [extra]="true"></app-cards>
  <app-cards season="4" episodes="8" [extra]="true"></app-cards>

</ion-content>
